.section__Features2{
    background-color: #f2eeeb;
    min-height: 100vh;
    width: 100%;
    display: flex;
    padding: 0rem;
    justify-content: center;
    text-align: center;
    align-items: center;
}

i {
    font-size: 600%;
    font-weight: 400;
    padding-bottom: 5rem;
}

.container-about {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 6rem;   
}

@media screen and (max-width: 1200px) {
    .container-about {
        flex-wrap: wrap;
    }
}