$color_1: #48001e;
$color_2: #ffccc2;
$color_3: #ff5c28;

.seciton__prijs {
    width: 100vw;
    min-height: 80vh;
    background: $color_1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem;
    flex-wrap: wrap;
    z-index: 10;
    gap: 1rem;
}

.gey {
  background-color: blue;
  width: 50rem;
  height: 50rem;
  z-index: 99;
}

.hey {
  font-size: 200%;
  color: blue;
  z-index: 99;
}

.box {
  width: 50rem;
  height: 5rem;
  background: #fff;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.box i {
  font-size: 2rem;
  color: #777;
}

.box input {
  flex: 1;
  height: 4rem;
  border: none;
  outline: none;
  font-size: 1.8rem;
  padding-left: 1rem;
}

.section__searchfield {
  width: 100vw;
  height: 10rem;
  background: $color_1;
  outline: 2px solid $color_2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product {
  width: 45rem;
  height: 45rem;
  cursor: pointer;
  background-color: $color_3;
  background-position: center;
  background-size:cover;
}

.product:hover {
  backdrop-filter: blur(80px); // This be the blur
}

.product__image {
 width: 100%;
}


