$color_1: #48001e;
$color_2: #ffccc2;
$color_3: #ff5c28;

.seciton__prijs {
    width: 100vw;
    min-height: 100vh;
    background: $color_2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem;
    flex-wrap: wrap;
    z-index: 10;
    gap: 1rem;
}