$color_1: #48001e;
$color_2: #ffccc2;
$color_3: #ff5c28;

.productcard {
    width: 29rem;
    height: 35rem;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    background: rgb(95, 23, 23);
    transition: 0.2s;
}

.productcard__container-img {
    width: 100%;
    height: 50%;
    background: rgb(73, 112, 73);
}

.productcard__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.productcard__container-p {
    width: 100%;
    height: 30%;
    background: $color_1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    color: $color_2;
    gap: 1rem;
    word-wrap: break-word;
}

.productcard__context {
    font-size: 1.4rem;
}

.productcard__container-filters {
    width: 100%;
    height: 20%;
    background: $color_1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.productcard__name {
    font-size: 1.5rem;
    color: $color_2;
}

.productcard:hover {
    transform: scale(1.03);
}
