.section__about  {
    width: 100%;
    min-height: 70vh;
    background: red;
}

.container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 10rem;
}

.content__section {
    float: left;
    width: 55%;
}

.image__section {
    float: right;
    width: 40%;
}

.image__section img {
    width: 100%;
    height: auto;
}

.content__section .about__title {
    margin-top: 20px;
    color: black;
}

.content__section .content__about h3 {
    margin-top: 20px;
}

.content__about .content__about p {
    margin-top: 10px;
    line-height: 1.5;
}

@media screen and (max-width: 768px) {
    .container {
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }

    .content__section {
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }

    .image__section {
        float: none;
        width: 100%;
    }

    .image__section img {
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }

    .content__section .about__title {
        text-align: center;
        font-size: 19px;
    }
}