$color_1: #48001e;
$color_2: #ffccc2;
$color_3: #ff5c28;


@font-face {
    font-family: 'Euclid';
    src: url("../Navigation/Files/euclid-circular-a-cufonfonts/Euclid\ Circular\ A\ Regular.ttf");
}

.section__about {
	width: 100%;
	font-family: 'Euclid';
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 1250px) {
	.section__about {
		flex-direction: column;
		height: 100rem;
	}
}

@media screen and (max-width: 600px) {
	.about__h1 {
		font-size: 5rem;
	}
}

.container {
	width: 100vw;
	height: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	font-weight: 1000;
	font-size: 250%;
	gap: 5rem;
}

.container-2 {
	height: 100%;
	width: 100vw;
	background-image: url("https://th.bing.com/th/id/R.5d1fb12fbc28c0a58b2ec5da6cb068f5?rik=eDmsdE%2b0TZ2HjA&pid=ImgRaw&r=0");
	background-position: center;
	background-size: cover;
}

.about__p--1 {
	font-size: 80%;
	text-align: center;
	text-transform: uppercase;
}

.about__p--2 {
	font-size: 80%;
	padding-top: 0.2rem;
	text-transform:capitalize;
}

.container-text {
	width: 100vw;
	height: 55%;
	display: flex;
	justify-content: space-evenly;
	padding-top: 5rem;
}

.about__h1 {
	text-transform: uppercase;
	font-family: 'EuclidBolder';
	font-weight: 1000;
	
}

.about__button {
	background: none;
	padding: 1rem 6rem;
	border-radius: 2rem;
}