$color_1: #48001e;
$color_2: #ffccc2;
$color_3: #ff5c28;


@font-face {
    font-family: 'Euclid';
    src: url("../Navigation/Files/euclid-circular-a-cufonfonts/Euclid\ Circular\ A\ Regular.ttf");
}

.section__about {
	width: 100%;
	font-family: 'Euclid';
	min-height: 70vh;
	z-index: 99;
	background: #48001e;
	color: $color_2;
}
.container {
	width: 80%;
	display: block;
	margin: auto;
	padding-top: 10rem;
}
.content__section {
	float: left;
	width: 55%;

	.about__title {
		margin-top: 20px;
		color: $color_2;
	}

	.content__about {
		h3 {
			margin-top: 2rem;
		}
	}
}

.image__section {
	float: right;
	width: 40%;

	img {
		width: 100%;
		height: auto;
	}
}

.content__about {
	.content__about {
		p {
			line-height: 1.5;
			padding-top: 4rem;
		}
	}
}

@media screen and (max-width: 768px) {
	.container {
		width: 80%;
		display: block;
		margin: auto;
		padding-top: 50px;
	}
	.content__section {
		float: none;
		width: 100%;
		display: block;
		margin: auto;
		.about__title {
			text-align: center;
			font-size: 19px;
		}
	}
	.image__section {
		img {
			margin-top: 50px;
			padding-bottom: 10rem;
		}
		float: none;
		width: 100%;
	}
}
