$color_1: #48001e;
$color_2: #ffccc2;
$color_3: #ff5c28;

@font-face {
	font-family: 'Euclid';
	src: url("./Files/euclid-circular-a-cufonfonts/Euclid\ Circular\ A\ Regular.ttf");
}

.header__nav {
	display: flex;
	justify-content: center;
	height: 11rem;
	position: sticky;
	font-size: 1.7rem;
	align-items: center;
	color: $color_2;
	background: $color_1;
	width: 100%;
	border-bottom: 2px solid $color_2;
	z-index: 99;
	padding: 0 3rem;
}

.login__btn {
	background-color: $color_3;
	border: none;
	position: absolute;
	right: 0;
	font-family: 'Euclid';
	color: $color_1;
	font-weight: 600;
	margin-top: -.6rem;
	margin-right: 4rem;
	padding: 1.2rem 5rem;
}

.nav__mode {
	-webkit-appearance: none;
	appearance: none;
	width: 7rem;
	outline: 0.2rem solid black;
	right: 0;
	margin-right: 20rem;
	height: 3rem;
	position: absolute;
	cursor: pointer;
	background: $color_2;
	border-radius: 5rem;
}

.nav__mode::after {
	content: "";
	transition: 0.4s all;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	background: $color_3;
	z-index: 99;
	position: absolute;
	top: 50%;
	left: 45%;
	transform: translate(30%, -50%);
	transition-timing-function:cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.nav__mode:checked::after {
	transform: translate(-110%, -50%);
}

.header__p {
	font-size: 150%;
}

nav a {
	margin: 0 2rem;
	color: $color_2;
	text-decoration: none;
}

nav a:hover {
	color: hsl(10, 100%, 78%);
}

.header__nav .nav__btn {
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: #fff;
	visibility: hidden;
	opacity: 0;
	font-size: 3rem;
}


@media only screen and (max-width: 1024px) {
	.header__nav .nav__btn {
		visibility: visible;
		opacity: 1;
		position: absolute;
		top: 1.8rem;
		padding: 0 0 4.7rem 2em;
		right: 2rem;
	}	

	.nav__mode {
		display: none;
	}

	.login__btn {
		position: initial;
		margin: 0;
	}

	.header__nav nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		z-index: 99;
		justify-content: center;
		flex-direction: column;
		gap: 3.5rem;
		background: $color_1;
		transition: 1s;
		transform: translateY(-100vh);
	}

	nav a {
		font-size: 1.5rem;
	}

	nav .nav__btn--close {
		position: absolute;
		top: 1.8rem;
		right: 2rem;
	}

	.header__nav .responsive__nav {
		transform: none;
	}
}