$color_1: #48001e;
$color_2: #ffccc2;
$color_3: #ff5c28;

.leftpane__wrapper {
    background: $color_1;
    display: flex;
    justify-content: center;
    padding: 4rem;
    position: relative;
}

.leftpane__header {
    background: hsl(335, 100%, 24%);
    top: 0;
    width: 100%;
    height: 10rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.leftpane__button {
    background-color: $color_1;
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    color: $color_2;
    font-family: inherit;
    cursor: pointer;
    font-size: 1.3rem;
    height: 3.5rem;
    width: 11rem;
    transition: 0.3s;
}

.leftpane__button:hover,
.leftpane__button:focus {
    background-color: $color_2;
    color: $color_1;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.leftpane__form {
    width: 38rem;
    height: 55rem;
    background: $color_2;
    box-shadow: 1.5rem 1.5rem 0rem 0.5rem black;
    margin-top: 10rem;
    word-wrap: break-word;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.leftpane__form-user {
    width: 100%;
    background: hsl(335, 100%, 24%);
    height: 18%;
    color: $color_2;
    font-size: 1.7rem;
    display: flex;
    padding-left: 2rem;
    align-items: center;
    gap: 2rem;
}

.leftpane__form-me {
    height: 60%;
    border-radius: 50%;
}

.leftpnae__form-bold {
    font-weight: bold;
}

.leftpane__form--backgroundImage {
    height: 40%;
    width: 100%;
}

.leftpane__form-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.leftpane__form-context {
    height: 30%;
    width: 100%;
    display: flex;
    padding: 2rem 2rem 0 2rem;
    word-break: break-all;
    flex-direction: column;
    gap: 1rem;
}

.leftpane__form-name {
    width: 100%;
    font-size: 1.8rem;
    font-weight: bold;
}

.leftpane__form-info {
    font-size: 1.8rem;
}

.leftpane__form-catergory {
    height: 12%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background: hsl(335, 100%, 24%);
    color: $color_2;
    align-items: center;
    font-size: 1.8rem;
}

.leftpane__section-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 2rem;
}

.leftpane__input {
    height: 4rem;
    width: 80%;
    padding: 1rem;
    border: none;
}

.leftpane__section-share {
    background: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    z-index: 999;
}

.leftpane__figure {
    background: #7a0033;
    height: 40rem;
    width: 43rem;
    color: $color_2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.buttons {
    display: flex;
    gap: 1rem;
    padding-top: 5rem;
}