$color_1: #48001e;
$color_2: #ffccc2;
$color_3: #ff5c28;

.rightpane__wrapper {
    background: $color_2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12rem;
    position: relative;
}

.rightpane__header {
    width: 100%;
    height: 10rem;
    background: hsl(335, 100%, 24%);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.rightpane__button {
    background-color: $color_1;
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    color: $color_2;
    font-family: inherit;
    cursor: pointer;
    font-size: 1.3rem;
    height: 3.5rem;
    width: 11rem;
    transition: 0.3s;
}

.rightpane__button:hover,
.rightpane__button:focus {
    background-color: $color_2;
    color: $color_1;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.rightpane__list {
    list-style: none;
    justify-content: center;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}