$color_1: #48001e;
$color_2: #ffccc2;
$color_3: #ff5c28;

.header__boven {
	// background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../public/Files/pexels-jd-danny-2385477\ \(1\).jpg");
	height: 100vh;
	width: 100%;
	display: flex;
	text-align: center;
	background: rgba($color: #000000, $alpha: 0.3);
	position: relative;
	align-items: center;
	color: $color_2;
	border: 2rem solid $color_1;
	justify-content: center;
}

.header__video {
	position: absolute;
	left: 0;
	z-index: -99;
	height: 116%;
}

.header__content {
	display: flex;
	justify-content: center;
	width: 40%;
	height: 50%;
	align-items: center;
}

.header__h1 {
    font-family: Bold;
	font-size: 7rem;
	margin-bottom: 1rem;
	font-weight: 800;
}

svg {
	left: 0;
	bottom: 0;
	position: absolute;
}

@media only screen and (max-width: 800px) {
	.header__h1 {
		font-size: 5rem;
	}
}

@media only screen and (max-width: 500px) {
	.header__h1 {
		font-size: 4rem;
	}
}
