$color_1: #48001e;
$color_2: #ffccc2;
$color_3: #ff5c28;

@font-face {
	font-family: 'Euclid';
	src: url("../Navigation/Files/euclid-circular-a-cufonfonts/Euclid\ Circular\ A\ Regular.ttf");
}
.header__boven {
	height: 100vh;
	width: 100%;
	display: flex;
	text-align: center;
	background: rgba($color: #000000, $alpha: 0.7);
	position: relative;
	align-items: center;
	color: $color_2;
	// border: 2rem solid $color_1;
	justify-content: center;
}

.header__background {
	position: absolute;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	top: 50;
	left: 50;
	z-index: -1;
}

.header__content {
	display: flex;
	width: 100%;
	padding-left: 5rem;
	justify-content: center;
	align-items: center;
}

.header__h1 {
    font-family: Bold;
	font-size: 600%;
	font-family: 'Euclid';
	margin-bottom: 1rem;
	font-weight: 800;
}

svg {
	left: 0;
	bottom: 0;
	position: absolute;
}

@media only screen and (max-width: 800px) {
	.header__h1 {
		font-size: 5rem;
	}
}

@media only screen and (max-width: 500px) {
	.header__h1 {
		font-size: 4rem;
	}
}
