$color_1: #48001e;
$color_2: #ffccc2;
$color_3: #ff5c28;

.section__features{
    min-height: 200vh;
    width: 100vw;
}

.section__features--title {
    height: 40rem;
    width: 100vw;
    background: $color_1;
    color: $color_2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
}

.section__features--buttons {
    height: 12rem;
    width: 100vw;
    background: hsl(335, 100%, 24%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.section__features--button {
    color: rgba(255, 204, 194, 0.8);
    border: 2px solid rgba(255, 204, 194, 0.8);
    padding: 1.3rem 6rem;
    font-size: 80%;
    background: transparent;
}

.section__features--button-active {
    color: rgba(255, 204, 194, 0.8);
    border: 2px solid rgba(255, 204, 194, 0.8);
    padding: 1.3rem 6rem;
    font-size: 80%;
    background: red;
}

.section__features--cards {
    width: 100vw;
    min-height: 60%;
    background: $color_1;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: 400px;
    padding: 3rem;
}

.grid-item {
    background: brown ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size:cover;
}

.tall {
    grid-column: span 2 / auto;
}

.section__features--more {
    height: 8rem;
    width: 100vw;
    background: rgb(89, 42, 165);
    display: flex;
    justify-content: center;
    align-items: center;
}
