$color_1: #48001e;
$color_2: #ffccc2;
$color_3: #ff5c28;

.section__features{
    background-color: $color_2;
    height: 200vh;
    width: 100vw;
    color: $color_2;
}

.section__features--title {
    height: 30%;
    width: 100vw;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
}

.section__features--buttons {
    height: 10%;
    width: 100vw;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.section__features--button {
    border: 2px solid red;
    padding: 1rem 7rem;
    color: white;
    background: transparent;
}

.section__features--cards {
    height: 60%;
    width: 100vw;
    background: green;
}
