$color_1: #48001e;
$color_2: #ffccc2;
$color_3: #ff5c28;

@font-face {
	font-family: 'Euclid';
	src: url("../Navigation/Files/euclid-circular-a-cufonfonts/Euclid\ Circular\ A\ Regular.ttf");
}

.section__features{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.form__features {
    display: flex;
    flex-direction: column;
}

.h1__features {
    font-size: 400%;
}