.dashboard {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 35% 65%;
}

.section__dashboard {

}

@media screen and (max-width: 1000px){
    .dashboard {
        grid-template-columns: 100%
    }
}