$color_1: #48001e;
$color_2: #ffccc2;
$color_3: #ff5c28;

.section__footer {
    width: 100%;
    height: 60vh;
    background: $color_1;
    color: $color_2;
    display: flex;
    justify-content: center;
    align-items: center;
}
