@font-face {
    font-family: 'Euclid';
    src: url("./components/Navigation/Files/euclid-circular-a-cufonfonts/Euclid\ Circular\ A\ Regular.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
html {
	font-size: 62.5%;
}
body {
	background: #ffccc2;
	font-family: 'Euclid';
	font-size: 2rem;
	height: 100vh;
}

::-webkit-scrollbar {
    display: none;
}

