@font-face {
    font-family: myFont;
    src: url(./Files/euclid-circular-a-cufonfonts/Euclid\ Circular\ A\ Regular.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: #ffccc2;
    font-size: 2rem;
    font-family: myFont;
    height: 100vh;
}

#root {

}   